In [1]:
import pandas as pdp
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver # driver de selenium
import time   # para manejar tiempo
import pandas as pd

In [2]:
#driver configuration
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('--incognito')

/var/folders/01/zww_crzn3psd0rg9b2smfcgh0000gn/T/ipykernel_52312/208606464.py:5: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

In [3]:
url = 'https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a'

In [4]:
PATH=ChromeDriverManager().install()

In [5]:
driver=webdriver.Chrome(PATH, options=opciones)
driver.get(url)
time.sleep(2)

/var/folders/01/zww_crzn3psd0rg9b2smfcgh0000gn/T/ipykernel_52312/4085100790.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [6]:
content = driver.find_element(By.CSS_SELECTOR,'#mw-content-text > div.mw-parser-output > table')

In [7]:
content.text.split('\n')

['Nombre Capital (de iure o en su defecto de facto) Población',
 '(2022) Porcentaje',
 'población Densidad',
 '(hab./km²) Superficie',
 '(km²) Porcentaje',
 'superficie Mapa PIB per',
 'cápita en € (2021)',
 '1  Andalucía Sevilla 8 500 187 17,87 % 97,05 87 599 17,31 % 18 906',
 '2  Cataluña Barcelona 7 792 611 16,38 % 238,84 32 113 6,35 % 29 942',
 '3  Comunidad de Madrid Madrid 6 750 336 14,24 % 841,15 8028 1,59 % 34 821',
 '4  Comunidad Valenciana Valencia 5 097 967 10,67 % 216,98 23 255 4,60 % 22 289',
 '5  Galicia Santiago de Compostela 2 690 464 5,68 % 91,19 29 575 5,84 % 23 499',
 '6  Castilla y León Valladolidnota 1 2 372 640 5,02 % 25,34 94 224 18,62 % 24 428',
 '7  País Vasco Vitorianota 1 2 208 174 4,67 % 302,13 7234 1,43 % 32 925',
 '8  Canarias Las Palmas de Gran Canaria y Santa Cruz de Tenerifenota 2 2 177 701 4,58 % 301,39 7447nota 3 1,47 % 18 990',
 '9  Castilla-La Mancha Toledonota 1 2 053 328 4,32 % 25,79 79 461 15,70 % 20 655',
 '10  Región de Murcia Murcia 1 531 878 3,20 % 133,74 11 314 2,24 % 21 236',
 '11  Aragón Zaragoza 1 326 315 2,79 % 27,90 47 720 9,43 % 28 912',
 '12  Islas Baleares Palma 1 176 659 2,47 % 244,27 4992 0,99 % 24 866',
 '13  Extremadura Mérida 1 054 776 2,23 % 25,41 41 634 8,23 % 19 072',
 '14  Principado de Asturias Oviedo 1 004 686 2,14 % 95,53 10 604 2,13 % 23 235',
 '15 Comunidad Foral de Navarra Pamplona 664 117 1,39 % 63,30 10 391 2,05 % 31 024',
 '16  Cantabria Santander 585 402 1,23 % 109,74 5321 1,05 % 23 730',
 '17  La Rioja Logroño 319 892 0,67 % 62,67 5045 1,00 % 27 279',
 '18  Melilla Melilla 85 170 0,18 % 7001,58 12 <0,01 % 19 266',
 '19  Ceuta Ceuta 83 117 0,18 % 4175,10 20 <0,01 % 21 244',
 'TOTAL  España Madrid 47 475 420 100 % 93,67 505 990 100 % — 25 498']

In [8]:
cuerpo=content.find_element(By.TAG_NAME, "tbody")

In [9]:
filas=cuerpo.find_elements(By.TAG_NAME, "tr")

In [10]:
row = [e.text for e in filas[0].find_elements(By.TAG_NAME, "td")][:4]

In [11]:
tabla = []
for f in filas:
    
    elems = f.find_elements(By.TAG_NAME, "td")[1:4:2]
    tmp = []
    for e in elems:
        tmp.append(e.text)
        
    tabla.append(tmp)
    
tabla

[[' Andalucía', '8 500 187'],
 [' Cataluña', '7 792 611'],
 [' Comunidad de Madrid', '6 750 336'],
 [' Comunidad Valenciana', '5 097 967'],
 [' Galicia', '2 690 464'],
 [' Castilla y León', '2 372 640'],
 [' País Vasco', '2 208 174'],
 [' Canarias', '2 177 701'],
 [' Castilla-La Mancha', '2 053 328'],
 [' Región de Murcia', '1 531 878'],
 [' Aragón', '1 326 315'],
 [' Islas Baleares', '1 176 659'],
 [' Extremadura', '1 054 776'],
 [' Principado de Asturias', '1 004 686'],
 ['Comunidad Foral de Navarra', '664 117'],
 [' Cantabria', '585 402'],
 [' La Rioja', '319 892'],
 [' Melilla', '85 170'],
 [' Ceuta', '83 117'],
 [' España', '47 475 420']]

In [26]:
CCAA_wikipedia = pd.DataFrame(tabla).rename(columns={0: 'CCAA', 1: 'Poblacion'})

In [27]:
CCAA_wikipedia

                          CCAA   Poblacion
0                    Andalucía   8 500 187
1                     Cataluña   7 792 611
2          Comunidad de Madrid   6 750 336
3         Comunidad Valenciana   5 097 967
4                      Galicia   2 690 464
5              Castilla y León   2 372 640
6                   País Vasco   2 208 174
7                     Canarias   2 177 701
8           Castilla-La Mancha   2 053 328
9             Región de Murcia   1 531 878
10                      Aragón   1 326 315
11              Islas Baleares   1 176 659
12                 Extremadura   1 054 776
13      Principado de Asturias   1 004 686
14  Comunidad Foral de Navarra     664 117
15                   Cantabria     585 402
16                    La Rioja     319 892
17                     Melilla      85 170
18                       Ceuta      83 117
19                      España  47 475 420

In [28]:
CCAA_wikipedia.to_csv('../Proyect_4_VDG',index=False)