# DATOS REALES DE VDG - FRANCIA 2019

In [31]:
import pandas as pd #Data Frames
import random

In [32]:
url = 'https://www.interieur.gouv.fr/actualites/communiques/violences-conjugales-enregistrees-par-services-de-securite-en-2019'

In [43]:
data = {'Crimenes': [3730, 80, 3810, 98],
        'Violaciones' : [3700, 70, 3770, 98],
        'Otros' :[30, 10, 40, 75],
        'Delitos' : [122110, 16390, 138500, 88],
        'Agresiones sexuales' : [620, 10, 630, 98],
        'Violencias intencionales': [90480, 12920, 103400, 88],
        'incluyendo ITT superior a 8 días' :[4060, 380, 4440, 91],
        'incluyendo ITT inferior a 8 días' : [41300, 4930, 46230, 89],
        'incluyendo sin ITT' :[45120, 7610, 52730, 86],
        'Amenazas de muerte / Acoso y otras amenazas' :[14340, 1470, 15810, 91],
        'TOTAL':[16670, 1990, 18660, 89],
       }

df = pd.DataFrame(data)

In [44]:
pd.DataFrame(data) # df.to_csv('mydata.csv', index=False)

,Crimenes,Violaciones,Otros,Delitos,Agresiones sexuales,Violencias intencionales,incluyendo ITT superior a 8 días,incluyendo ITT inferior a 8 días,incluyendo sin ITT,Amenazas de muerte / Acoso y otras amenazas,TOTAL
0,3730,3700,30,122110,620,90480,4060,41300,45120,14340,16670
1,80,70,10,16390,10,12920,380,4930,7610,1470,1990
2,3810,3770,40,138500,630,103400,4440,46230,52730,15810,18660
3,98,98,75,88,98,88,91,89,86,91,89

In [49]:
df_transposed = df.transpose()

In [51]:
df_transposed

                                                  0      1       2   3
Crimenes                                       3730     80    3810  98
Violaciones                                    3700     70    3770  98
Otros                                            30     10      40  75
Delitos                                      122110  16390  138500  88
Agresiones sexuales                             620     10     630  98
Violencias intencionales                      90480  12920  103400  88
incluyendo ITT superior a 8 días               4060    380    4440  91
incluyendo ITT inferior a 8 días              41300   4930   46230  89
incluyendo sin ITT                            45120   7610   52730  86
Amenazas de muerte / Acoso y otras amenazas   14340   1470   15810  91
TOTAL                                         16670   1990   18660  89

In [52]:
df = df_transposed.rename(columns={0: 'mujeres', 1: 'hombres', 2: 'total', 3 : 'porcentaje'})

In [53]:
df

,mujeres,hombres,total,porcentaje
Crimenes,3730,80,3810,98
Violaciones,3700,70,3770,98
Otros,30,10,40,75
Delitos,122110,16390,138500,88
Agresiones sexuales,620,10,630,98
Violencias intencionales,90480,12920,103400,88
incluyendo ITT superior a 8 días,4060,380,4440,91
incluyendo ITT inferior a 8 días,41300,4930,46230,89
incluyendo sin ITT,45120,7610,52730,86
Amenazas de muerte / Acoso y otras amenazas,14340,1470,15810,91
TOTAL,16670,1990,18660,89

In [54]:
df.to_csv('/Users/JGR/IRON_HACK/Proyect_4_VDG/francias_updated', index=True)